h1 {
  font-family: 'Nova Flat', cursive;
  align-content: center;
  color: #8E806A;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

h3 {
  font-family: 'Staatliches';
  color: #362706;
}

p {
  font-family: 'Nova Flat', cursive;
  color: #362706
}

body {
  background-color: #DFD3C3;
  margin: 0;
}

.navbar {
  font-family: 'Staatliches';
  overflow: hidden;
  background-color: #C7B198;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 6.78%;
  top: 0;
  font-size: 20px;
  border-bottom: 2px solid #362706;
}

.navbar a {
  float: left;
  display: block;
  color: #1A374D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: #C0A080;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.service {
  opacity: 1;
  width: 500px;
  height: 350px;
}

.banner {
  border: 2px solid #362706;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  animation: zoom-in-zoom-out 7s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.97, 0.97);
  }

  50% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.97, 0.97);
  }
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.centered {
  font-family: 'Nova Flat', cursive;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 42%;
  animation: 5s slide-right;
  animation-delay: 0s;
  color: #362706;
}

.centered2 {
  font-family: 'Nova Flat', cursive;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 35%;
  animation: 5s slide-left;
  animation-delay: 0s;
  color: #362706;
}

@keyframes slide-right {
  from {
    margin-left: -500px;
  }

  to {
    margin-left: 0;
  }
}

@keyframes slide-left {
  from {
    margin-left: 500px;
  }

  to {
    margin-left: 0;
  }
}

.logo {
  width: 150px;
  height: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex>div {
  width: 480px;
  height: 390px;
  margin: auto;
}

.service {
  margin: auto;
}

.image {
  width: 480px;
  height: 390px;
  margin: auto;
  border: 3px solid #362706;
}

.a {
  display: inline-block;
  background-image: url('https://i.ibb.co/w69YRf9/doge.jpg');
  background-size: 480px 390px;
  margin: auto
}

.a>img {
  vertical-align: top;
}

.a>img:hover {
  opacity: 0;
}

.b {
  display: inline-block;
  background-image: url('https://i.ibb.co/cLPFTQq/cowe.jpg');
  background-size: 480px 390px;
  margin: auto;
}

.b>img {
  vertical-align: top;
}

.b>img:hover {
  opacity: 0;
}

.c {
  display: inline-block;
  background-image: url('https://i.ibb.co/SKTVhbw/oldage.jpg');
  background-size: 480px 390px;
  margin: auto;
}

.c>img {
  vertical-align: top;
}

.c>img:hover {
  opacity: 0;
}

.contact {
  font-family: 'Staatliches';
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #C7B198;
  overflow: hidden;
  z-index: 1;
  border-top: 2px solid #362706;
}
.tables
{
box-align: center;
  padding: 10%;
}
.center {
  margin: 0 auto;
}
th,td{
    font-family: 'Staatliches';
    border:1px solid #362706;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:hover{
  background-color: #C7B198;
}
